<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post">
      <div>
        <label for="title">Passcode</label>
        <input
          type="password"
          name="passcode"
          id="passcode"
          placeholder="passcode"
          required
        />
      </div>
      <div>
        <button type="submit">Become Member</button>
      </div>
    </form>
    <% if (errors) { %>

    <ul>
      <% errors.forEach(error => { %>
      <li><%- error.msg %></li>
      <% }) %>
    </ul>

    <% } %>
  </body>
</html>
